
@media (min-width: 1024px) {
  section, .slide {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
}
section ul {
  margin-bottom: 3rem;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
h2 {
  padding-bottom: 2rem;
}
h4 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}
figure {
  margin-bottom: 30px;
}
.mb {
  margin-bottom: 50px;
}
.fullscreen {
    padding: 0;
}
.icon-text {
  padding-left: 75px;
}
.flexblock li h2 svg {
  color: #44d;
}
.hp {
  background-color: rgba(255,255,255,0.9);
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
  border-radius: 15px;
}
#logo_ieg {
  margin-top: 30px;
}
a.button {
  margin-bottom: 15px;
}
ul, ol {
  margin-bottom: 30px;
}
section p {
  margin-bottom: 1rem !important;
}
.features li h2 { 
  margin-bottom: -2rem;
  color: #44d;
}
.features hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.subtle {
  color: #777;
  font-size: 0.9em;
  font-style: italic;
}
.date {
  color: #949494;
}
.column .button {
  display: inline-table;
}
.column ul li {
  list-style-type: square;
  margin-left: 15px;
}
.text-subtitle + p {
    margin-top: 0rem;
}
.meta p {
  margin-bottom: 0px;
  font-size: 0.8em;
}
.meta {
  margin-bottom: 20px;
}
.retour {
  margin-top: 25px;
}
.effects .features li h2 {
  color: #62b;
}
.competences h3 {
  font-size: 2rem !important;
  font-weight: 400 !important;
}
.competence>a {
  padding-top: 25px;
  padding-bottom: 25px;  
}
.card-header {
  position: absolute;
  top: 5px;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  display: block;
  border-bottom: solid 1px #ecf0f1;
  font-weight: 500;
}
.card-header.socio {
  color: #9b59b6;
}
.card-header.innovation {
  color: #3498db;
}
.card-header.energie {
  color: #e67e22;
}
.tag {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.3rem;
  text-align: center;
  background-color: #ecf0f1;
}
.toggle.cat {
  background-color: #95a5a6;
  color: #efefef;
}
.toggle.fam {
  background-color: #d8d8d8;
}
.comp h3 {
  margin-top: 50px;
}
.comp .card-header {
  padding-bottom: 8px;
}
.meta-etude {
  padding-left: 83px;
}
.card-meta {
  text-transform: capitalize;
}
.steps li img {
  max-width: 75px;
}
/* The Overlay sliding NAV */

.burger {
  font-size:30px;
  cursor:pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: #28285b;
}

#logo-s {
  position: fixed;
  left: 50px;
  top: 1px;
}
.mytag {
  background-color: #d2d2d2; 
  border-radius: 20px;
  padding: 5px 10px; 
  color: white;
  text-transform: capitalize;
}
.bigger-p  {
  font-size: 2.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#comp-title {
  padding: 2rem;
  width: 100%;
  text-align: center;
}
/* Cover list */ 
.covers > .flexblock li {
  display: inline-table;
  background-color: white;
}
.avatar-80 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.people h3 {
  display: initial;
}

.steps h2 {
  color: purple;
  text-transform: uppercase;
  border-bottom: 2px purple solid;
  padding-bottom: 0px;
}
.toggle {
  background-color: #ecf0f1;
  color: #34495e;
  padding: 10px; 
  margin-top: 10px;
  margin-right: 7px;
  border-radius: 12px;
  cursor: pointer; 
  display: inline-block;
}
.selected, .toggle.selected {
  background-color: #34495e;
  color: #ecf0f1;
}
blockquote {
  background: #fff;
  border-left: 3px solid #44d;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #44d;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Dropdown Button */
.dropbtn, .somebtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 8px;
}
.somebtn {
  display: inline-block;
  background-color: #34495e;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
.seabrook {
  background-color: #487eb0;
}
.seabrook:hover, .seabrook:focus, .seabrook.selected {
    background-color: #40739e;
}
.mazarine {
  background-color: #273c75;
}
.mazarine:hover, .mazarine:focus, .mazarine.selected {
    background-color: #192a56;
}
.bluenights {
  background-color: #353b48; 
}
.bluenights:hover, .bluenights:focus, .bluenights.selected {
    background-color: #2f3640;
}
.vanadyl, .vanadyl .selected {
  background-color: #00a8ff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* fiches compétences */
.work-label>p {
  margin-right: 0% !important;
}
.work>li>a>p {
  margin-right: 0% !important;
}
.work-perf {
  text-align: left !important;
}
.grid.vertical-align .column {
    justify-content: baseline !important;
}
.flexblock.gallery>li {
  height: 400px;
}
.flexblock.gallery>li>a>figure {
  margin-bottom: 0px;
  height: 400px;
}
.projet .column img {
  margin-top: 25px;
}
.card-50 figure {
  margin-bottom: 0px;
  justify-content: center;
  vertical-align: middle;
  padding-top: 150px;
  padding-bottom: 100px;
}
.project-card {
  padding-top: 100px;
}
