
@media (min-width: 1024px) {
  section, .slide {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
}
section ul {
  margin-bottom: 3rem;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
h2 {
  padding-bottom: 2rem;
}
figure {
  margin-bottom: 30px;
}
.fullscreen {
    padding: 0;
}
.icon-text {
  padding-left: 75px;
}
.flexblock li h2 svg {
  color: #44d;
}
.hp {
  background-color: rgba(0,0,0,0.5);
  padding-top: 25px;
  padding-bottom: 25px;
}
ul, ol {
  margin-bottom: 30px;
}
.features li h2 { 
  margin-bottom: -2rem;
  color: #44d;
}
.features hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.subtle {
  color: #777;
  font-size: 0.9em;
  font-style: italic;
}
.date {
  color: #949494;
}
.column .button {
  display: inline-table;
}
.column ul li {
  list-style-type: square;
  margin-left: 15px;
}
.text-subtitle + p {
    margin-top: 0rem;
}
.meta p {
  margin-bottom: 0px;
  font-size: 0.8em;
}
.meta {
  margin-bottom: 20px;
}
.retour {
  margin-top: 25px;
}
.effects .features li h2 {
  color: #62b;
}
.meta-etude {
  padding-left: 83px;
}

/* The Overlay sliding NAV */

.burger {
  font-size:30px;
  cursor:pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: #28285b;
}

#logo-s {
  position: fixed;
  left: 50px;
  top: 1px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: absolute;
    top: 30px; 
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay-content img {
  max-width: 300px;
}

.overlay-content .socials>li  {
  list-style: none;
  display: inline-table;
  margin-top: 30px; 
  text-align: center;
  margin-left: 0px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 60px;
}

/* Cover list */ 
.covers > .flexblock li {
  display: inline-table;
  background-color: white;
}

blockquote {
  background: #fff;
  border-left: 3px solid #44d;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #44d;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

