
@media (min-width: 1024px) {
  section, .slide {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
}

.fullscreen {
    padding: 0;
}

/* The Overlay sliding NAV */

.burger {
  font-size:30px;
  cursor:pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: #28285b;
}

#logo-s {
  position: fixed;
  left: 50px;
  top: 1px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: absolute;
    top: 30px; 
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay-content img {
  max-width: 300px;
}

.overlay-content .socials>li  {
  list-style: none;
  display: inline-table;
  margin-top: 30px; 
  text-align: center;
  margin-left: 0px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 60px;
}

