
@media (min-width: 1024px) {
  section, .slide {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
}
section ul {
  margin-bottom: 3rem;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
h2 {
  padding-bottom: 2rem;
}
h4 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}
figure {
  margin-bottom: 30px;
}
.fullscreen {
    padding: 0;
}
.icon-text {
  padding-left: 75px;
}
.flexblock li h2 svg {
  color: #44d;
}
.hp {
  background-color: rgba(255,255,255,0.9);
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
  border-radius: 15px;
}
#logo_ieg {
  margin-top: 30px;
}
ul, ol {
  margin-bottom: 30px;
}
section p {
  margin-bottom: 1rem !important;
}
.features li h2 { 
  margin-bottom: -2rem;
  color: #44d;
}
.features hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.subtle {
  color: #777;
  font-size: 0.9em;
  font-style: italic;
}
.date {
  color: #949494;
}
.column .button {
  display: inline-table;
}
.column ul li {
  list-style-type: square;
  margin-left: 15px;
}
.text-subtitle + p {
    margin-top: 0rem;
}
.meta p {
  margin-bottom: 0px;
  font-size: 0.8em;
}
.meta {
  margin-bottom: 20px;
}
.retour {
  margin-top: 25px;
}
.effects .features li h2 {
  color: #62b;
}
.meta-etude {
  padding-left: 83px;
}
.card-meta {
  text-transform: capitalize;
}
/* The Overlay sliding NAV */

.burger {
  font-size:30px;
  cursor:pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: #28285b;
}

#logo-s {
  position: fixed;
  left: 50px;
  top: 1px;
}
.mytag {
  background-color: #d2d2d2; 
  border-radius: 20px;
  padding: 5px 10px; 
  color: white;
  text-transform: capitalize;
}
.bigger-p  {
  font-size: 2.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Cover list */ 
.covers > .flexblock li {
  display: inline-table;
  background-color: white;
}

blockquote {
  background: #fff;
  border-left: 3px solid #44d;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #44d;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

